.crew-container{
  display: flex;
}


.ctitle {
  margin-top: 5%;
  width: 100%;
}

.crew-left {
  margin-left: 10%;
  width: 50%;
  margin-top: 2%;
}

.crew-intro {
  margin-top: 25%;
}


.crew-career {
  font-size: 32px;
  font-family: 'Bellefair Regular';
  color: gray;
  margin-bottom: 2%;
}

.crew-name {
  font-family: 'Bellefair Regular';
  font-size: 56px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}



.crew-text {
  font-size: 18px;
  font-family: "Barlow Condensed";
  color: #D0D6F9;
  width: 55%;
}

.crew-right {
  width: 50%;
  height: auto;
  margin-top: 2%;
}

.dots {
  display: flex;
  position: fixed;
  bottom: 5%;
}

.dot {
  background-color: rgba(151, 151,151, 0.17);
  opacity: 17.44;
  margin-top: 10%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.test:hover{
  border: 0;
}

.dot:hover {
  background-color: #979797;
  opacity: 17.44;
  margin-top: 10%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
