@font-face {
  font-family: "Bellefair Regular";
  font-style: normal;
  color: #FFFFFF;
  src: url('/public/assets/fonts/Bellefair-Regular.ttf');
}

@font-face {
  font-family: "Barlow Condensed";
  color: #FFFFFF;
  src: url('/public/assets/fonts/BarlowCondensed-Regular.ttf');
}
