@import './fonts.css';

.number {
  font-size: 28px;
  font-weight: bold;
  color: #979797;
  font-family: 'Barlow Condensed';
  margin-right: 5%;
}

.stitle {
  font-size: 28px;
  color: #FFFFFF;
  font-family: 'Barlow Condensed';
  letter-spacing: 4.72px;
}

.container-destination{
  display: flex;
}
