@import './fonts.css';


h1 {
  font-size: 150px;
  color: #FFFFFF;
  font-family: 'Bellefair Regular'; 
}


h2 {
  font-size: 100px;
  color: #FFFFFF;
  font-family: 'Bellefair Regular'; 
}


h3 {
  font-size: 56px;
  color: #FFFFFF;
  font-family: 'Bellefair Regular'; 
}


h4 {
  font-size: 32px;
  color: #FFFFFF;
  font-family: 'Bellefair Regular'; 
}


h5 {
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 4.75;
  font-family: 'Bellefair Regular'; 
}
